In [36]:
import pandas as pd
from functools import reduce

In [37]:

data = pd.read_csv("canalys_smartphone_model_level_estimates.csv", encoding = 'ISO-8859-1')
data1 = pd.read_csv("forex_rate.csv")

ParserError: Error tokenizing data. C error: Expected 2 fields in line 5, saw 4

In [38]:
df = pd.DataFrame(data)

NameError: name 'data' is not defined

In [39]:
#df3 = df.groupby(['Vendor'].['Xiaomi'])
df1 = df.Brand.unique()

NameError: name 'df' is not defined

In [40]:
df2 = df[df.Brand.isin(['Xiaomi'])]

NameError: name 'df' is not defined

In [41]:
df4 = df2[df2.Year.isin([2017])]
df5 = df4[df4.Quarter.isin([4])]
df6 = df2[df2.Year.isin([2018])]
df7 = df6[df6.Quarter.isin([1])]
df8 = df6[df6.Quarter.isin([4])]
df9 = df2[df2.Year.isin([2019])]
df10 = df9[df9.Quarter.isin([1])]

final1 = df5.groupby('Market')['Units'].sum().reset_index(name= '2017 Q4')
final1['Rank 2017 Q4'] = final1['2017 Q4'].rank(ascending=False)
final2 = df7.groupby('Market')['Units'].sum().reset_index(name= '2018 Q1')
final2['Rank 2018 Q1'] = final2['2018 Q1'].rank(ascending=False)
final3 = df8.groupby('Market')['Units'].sum().reset_index(name= '2018 Q4')
final3['Rank 2018 Q4'] = final3['2018 Q4'].rank(ascending=False)
final4 = df10.groupby('Market')['Units'].sum().reset_index(name= '2019 Q1')
final4['Rank 2019 Q1'] = final4['2019 Q1'].rank(ascending=False)
#final4 = final4.drop(final4.index[final4['Rank 2019 Q1'] > 5], inplace=True)
final4 = final4[final4['Rank 2019 Q1'] < 6]

NameError: name 'df2' is not defined

In [ ]:
dfs = [final1, final2, final3, final4]

In [42]:
#merge all DataFrames into one
final_df = reduce(lambda  left,right: pd.merge(left,right,on=['Market'],
                                            how='outer'), dfs)
final_df = final_df.fillna('NAN')
dff1 = pd.DataFrame(data1)
merged = pd.merge(data1, final_df, on ='Market', how ="inner")
merged = merged.drop(['Currency', 'Exchange rate', 'VAT'], axis=1)  
merged = merged.to_csv(r'C:\Users\Keshav Pathak\Desktop\finalXiaomi.csv', index = False, header=True)

NameError: name 'dfs' is not defined

In [43]:
merged

NameError: name 'merged' is not defined

In [44]:
#df2.Brand.unique()

In [45]:
# Using groupby() and count()
#df1 = df4.groupby(['Market','Quarter','Year'])['Units'].sum()

In [46]:
#df2 = df2.to_csv(r'C:\Users\Keshav Pathak\Desktop\market3.csv', index = False, header=True)

In [47]:
#df2 = df1.to_csv(r'C:\Users\Keshav Pathak\Desktop\market5.csv', index = False, header=True)

In [48]:
#df2 = df.merge(df3[['Market', 'Year']])

In [49]:
#gkk = df2.groupby(['Market', 'Units'])

In [50]:
#gkk.first()

In [51]:
#df4 = df2[df2.Year.isin([2017])]
#df5 = df4[df4.Quarter.isin([4])]

In [52]:
#final1 = df5.groupby('Market')['Units'].sum().reset_index(name= '2017 Q4')

In [53]:

#final1=final1.groupby('sell')['value'].sum()        .reset_index()   .rename(columns={'sum':'valuesum','sell' : 'selltime'})

In [54]:
#final1['Rank 2017 Q4'] = final1['2017 Q4'].rank(ascending=False)

In [24]:
#df['Score_Ranked_Desc'] = df['Score'].rank(ascending=False)

In [25]:
##df6 = df2[df2.Year.isin([2018])]
#df7 = df6[df6.Quarter.isin([1])]
#df8 = df6[df6.Quarter.isin([4])]

In [26]:
#final2 = df7.groupby('Market')['Units'].sum().reset_index(name= '2018 Q1')
#final2['Rank 2018 Q1'] = final2['2018 Q1'].rank(ascending=False)

In [27]:
#final2['Rank 2018 Q1'] = final2['2018 Q1'].rank()
#final2 = final2.set_index('Rank 2018 Q1')

In [28]:
#final3 = df8.groupby('Market')['Units'].sum().reset_index(name= '2018 Q4')
#final3['Rank 2018 Q4'] = final3['2018 Q4'].rank(ascending=False)

In [29]:
#final3['Rank 2018 Q4'] = final3['2018 Q4'].rank(ascending=False)

In [30]:
#final3

In [31]:
#df9 = df2[df2.Year.isin([2019])]
#df10 = df9[df9.Quarter.isin([1])]

In [32]:
#final4 = df10.groupby('Market')['Units'].sum().reset_index(name= '2019 Q1')
#final4['Rank 2019 Q1'] = final4['2019 Q1'].rank(ascending=False)

In [33]:
#final4['Rank 2019 Q1'] = final4['2019 Q1'].rank(ascending=False)

In [34]:
#final4 = final4.drop(final4.index[final4['Rank 2019 Q1'] > 5], inplace=True)
#final4 = final4[final4['Rank 2019 Q1'] < 6]

In [35]:
#final4

In [36]:
#mergedRes = pd.merge(dataFrame1, dataFrame2, on ='Car', how ="outer")

In [37]:
#sheet = pd.merge(final1, final2, final3, final4, on ='Market', how ="outer")

In [38]:
#dfs = [final1, final2, final3, final4]

In [51]:
#merge all DataFrames into one
#final_df = reduce(lambda  left,right: pd.merge(left,right,on=['Market'],

                                             #  how='outer'), dfs)
#final_df = final_df.fillna('NAN')
#dff1 = pd.DataFrame(data1)
#merged = pd.merge(data1, final_df, on ='Market', how ="inner")
#merged = merged.drop(['Currency', 'Exchange rate', 'VAT'], axis=1)  
#merged = merged.to_csv(r'C:\Users\Keshav Pathak\Desktop\finalXiaomi.csv', index = False, header=True#)

In [52]:

#final_df = final_df.fillna('NAN')

In [53]:
#sort using sub region

In [42]:
#final_df

In [43]:
#merged = pd.merge(data1, df2, on ='Market', how ="outer")

In [44]:
#dff1 = pd.DataFrame(data1)
#merged = pd.merge(data1, final_df, on ='Market', how ="inner")

In [45]:
#merged

In [46]:
#final4['Rank 2019 Q1'] = final4['2019 Q1'].rank(ascending=False)

In [47]:
# remove rows using the drop() function

# display the dataframe
#print(merged)

In [48]:
#merged = merged.drop(['Currency', 'Exchange rate', 'VAT'], axis=1)

In [49]:
#merged

In [50]:
#merged = merged.to_csv(r'C:\Users\Keshav Pathak\Desktop\finalXiaomi.csv', index = False, header=True)