In [2]:
import pandas as pd
import chardet
from functools import reduce
import csv

In [37]:
data = pd.read_csv("canalys_smartphone_model_level_estimates.csv")

C:\Users\Keshav Pathak\AppData\Local\Temp\ipykernel_15440\2557506963.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("canalys_smartphone_model_level_estimates.csv")

In [38]:
data

,Year,Quarter,Market,Vendor,Brand,OS,Network Generation,Screen size (inches),Currency,List price (local),Model,OS Variant,OS Version,Storage (GB),RAM (GB),Processor,Battery capacity (mAh),Units
0,2017,1,Indonesia,Acer,Acer,Android,3G,4.00,IDR,703886,Liquid Z220,Acer UI,Android 5.0,8.0,1,Snapdragon 200,2000,750
1,2017,1,Rest of Asia Pacific,Acer,Acer,Android,3G,4.00,USD,54,Liquid Z220,Acer UI,Android 5.0,8.0,1,Snapdragon 200,2000,20
2,2017,1,Ireland,Acer,Acer,Android,3G,4.50,EUR,416,Liquid Z320,Acer UI,Android 5.1,8.0,1,Snapdragon 427,2000,10
3,2017,1,UK,Acer,Acer,Android,3G,4.50,GBP,367,Liquid Z320,Acer UI,Android 5.1,8.0,1,Snapdragon 427,2000,80
4,2017,1,Rest of Asia Pacific,Acer,Acer,Android,3G,4.50,USD,54,Liquid Z320,Acer UI,Android 5.1,8.0,1,Snapdragon 427,2000,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107835,2019,1,UK,ZTE,ZTE,Android,4G,6.21,GBP,461,Axon 9 Pro,Android,Android 8.0,128.0,6.0,Snapdragon 845,4000,513
107836,2019,1,Czech Republic,ZTE,ZTE,Android,4G,6.21,CZK,17887,Axon 9 Pro,Android,Android 8.0,128.0,6.0,Snapdragon 845,4000,1955
107837,2019,1,Mexico,ZTE,ZTE,Android,4G,6.26,MXN,4894,Blade V10 Vita,MiFavor 9.0,Android 8.3.1,32.0,2.0,SC9863A,3200,49488
107838,2019,1,People's Republic of China (mainland),ZTE,ZTE,Android,4G,6.30,CNY,1130,Blade V10,MiFavor 9.0,Android 8.3.1,64.0,4.0,Helio P70,3200,53360
107839,2019,1,Czech Republic,ZTE,ZTE,Android,4G,6.30,CZK,7647,Blade V10,MiFavor 9.0,Android 8.3.1,64.0,4.0,Helio P70,3200,2552

In [39]:
data_1 = pd.read_csv("forex_rate.csv")

In [40]:
data_1

,Region,Sub-region,Market,Currency,Exchange rate,VAT
0,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Australia,AUD,1.4190,0.10
1,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Bangladesh,BDT,90.4087,0.15
2,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Cambodia,USD,1.0000,0.10
3,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),India,INR,77.9603,0.18
4,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Indonesia,IDR,14666.4000,0.10
...,...,...,...,...,...,...
79,North America,North America,Canada,CAD,1.2793,0.00
80,North America,North America,United States,USD,1.0000,0.00
81,"Europe, Middle East & Africa",Central & Eastern Europe,Bulgaria,BGN,1.8382,0.20
82,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Kazakhstan,KZT,439.8778,0.12
83,"Europe, Middle East & Africa",Central & Eastern Europe,Serbia,RSD,110.3947,0.20

In [41]:


#data = open(r"C:\Users\Keshav Pathak\Desktop\assignment\canalys_smartphone_model_level_estimates.csv", encoding='latin1')
#data1 = pd.read_csv(r"C:\\Users\\Keshav Pathak\Desktop\assignment\forex_rate.csv")

In [42]:
#data1

In [43]:
#df = pd.read_csv(r"C:\Users\Keshav Pathak\Desktop\assignment\canalys_smartphone_model_level_estimates.csv")

In [44]:
#df3 = df.groupby(['Vendor'].['Xiaomi'])
#df1 = df.Brand.unique()

In [45]:
df2 = data[data.Brand.isin(['Xiaomi'])]

In [46]:
df4 = df2[df2.Year.isin([2017])]
df5 = df4[df4.Quarter.isin([4])]
df6 = df2[df2.Year.isin([2018])]
df7 = df6[df6.Quarter.isin([1])]
df8 = df6[df6.Quarter.isin([4])]
df9 = df2[df2.Year.isin([2019])]
df10 = df9[df9.Quarter.isin([1])]

final1 = df5.groupby('Market')['Units'].sum().reset_index(name= '2017 Q4')
final1['Rank 2017 Q4'] = final1['2017 Q4'].rank(ascending=False)
final2 = df7.groupby('Market')['Units'].sum().reset_index(name= '2018 Q1')
final2['Rank 2018 Q1'] = final2['2018 Q1'].rank(ascending=False)
final3 = df8.groupby('Market')['Units'].sum().reset_index(name= '2018 Q4')
final3['Rank 2018 Q4'] = final3['2018 Q4'].rank(ascending=False)
final4 = df10.groupby('Market')['Units'].sum().reset_index(name= '2019 Q1')
final4['Rank 2019 Q1'] = final4['2019 Q1'].rank(ascending=False)
#final4 = final4.drop(final4.index[final4['Rank 2019 Q1'] > 5], inplace=True)
final4 = final4[final4['Rank 2019 Q1'] < 6]

In [58]:
dfs = [final1, final2, final3, final4]

In [61]:
#merge all DataFrames into one
final_df = reduce(lambda  left,right: pd.merge(left,right,on=['Market'],
                                            how='outer'), dfs)
final_df = final_df.fillna('NAN')
merged = pd.merge(data_1, final_df, on ='Market', how ="inner")
merged = merged.drop(['Currency', 'Exchange rate', 'VAT'], axis=1)  
merged1 = merged.to_csv(r'C:\Users\Keshav Pathak\Desktop\finalXiaomi.csv', index = False, header=True)

In [62]:
merged

,Region,Sub-region,Market,2017 Q4,Rank 2017 Q4,2018 Q1,Rank 2018 Q1,2018 Q4,Rank 2018 Q4,2019 Q1,Rank 2019 Q1
0,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Bangladesh,81657.0,18.0,61458.0,25.0,23223.0,35.0,NAN,NAN
1,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Cambodia,NAN,NAN,NAN,NAN,20281.0,37.0,NAN,NAN
2,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),India,8131714.0,2.0,9070245.0,2.0,9937345.0,1.0,1041455.0,2.0
3,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Indonesia,813366.0,3.0,1674231.0,3.0,1947042.0,3.0,159570.0,5.0
4,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Malaysia,78182.0,20.0,158511.0,14.0,155490.0,11.0,NAN,NAN
5,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Myanmar,667657.0,4.0,410366.0,6.0,291210.0,8.0,NAN,NAN
6,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Pakistan,65988.0,23.0,38454.0,32.0,26452.0,34.0,NAN,NAN
7,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Philippines,11649.0,37.0,34220.0,34.0,40763.0,26.0,NAN,NAN
8,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Rest of Asia Pacific,561436.0,5.0,285653.0,10.0,132189.0,13.0,NAN,NAN
9,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Singapore,23997.0,34.0,55414.0,26.0,45114.0,24.0,NAN,NAN
10,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),South Korea,NAN,NAN,NAN,NAN,19330.0,38.0,NAN,NAN
11,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Sri Lanka,16864.0,36.0,33531.0,35.0,9720.0,48.0,NAN,NAN
12,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Thailand,31653.0,29.0,185321.0,11.0,120086.0,16.0,NAN,NAN
13,Asia Pacific (excludes Greater China),Asia Pacific (excludes Greater China),Vietnam,133645.0,14.0,173881.0,13.0,122030.0,15.0,NAN,NAN
14,"Europe, Middle East & Africa",Africa,Egypt,NAN,NAN,98782.0,18.0,152305.0,12.0,NAN,NAN
15,"Europe, Middle East & Africa",Africa,Kenya,7665.0,39.0,8763.0,44.0,21379.0,36.0,NAN,NAN
16,"Europe, Middle East & Africa",Africa,Nigeria,30650.0,32.0,833.0,46.0,NAN,NAN,NAN,NAN
17,"Europe, Middle East & Africa",Africa,Rest of Africa,316513.0,9.0,98544.0,19.0,10821.0,47.0,NAN,NAN
18,"Europe, Middle East & Africa",Africa,South Africa,51326.0,26.0,11523.0,43.0,6859.0,51.0,NAN,NAN
19,"Europe, Middle East & Africa",Central & Eastern Europe,Croatia,NAN,NAN,21311.0,39.0,12208.0,45.0,NAN,NAN
20,"Europe, Middle East & Africa",Central & Eastern Europe,Czech Republic,121646.0,16.0,108330.0,17.0,48062.0,23.0,NAN,NAN
21,"Europe, Middle East & Africa",Central & Eastern Europe,Estonia,NAN,NAN,36459.0,33.0,7229.0,50.0,NAN,NAN
22,"Europe, Middle East & Africa",Central & Eastern Europe,Hungary,30658.0,31.0,23131.0,37.0,17509.0,40.0,NAN,NAN
23,"Europe, Middle East & Africa",Central & Eastern Europe,Latvia,NAN,NAN,15248.0,41.0,6780.0,52.0,NAN,NAN
24,"Europe, Middle East & Africa",Central & Eastern Europe,Lithuania,NAN,NAN,12369.0,42.0,NAN,NAN,NAN,NAN
25,"Europe, Middle East & Africa",Central & Eastern Europe,Poland,284681.0,11.0,174652.0,12.0,111413.0,17.0,NAN,NAN
26,"Europe, Middle East & Africa",Central & Eastern Europe,Rest of Central & Eastern Europe,400651.0,7.0,289148.0,9.0,125849.0,14.0,NAN,NAN
27,"Europe, Middle East & Africa",Central & Eastern Europe,Romania,NAN,NAN,27121.0,36.0,32806.0,30.0,NAN,NAN
28,"Europe, Middle East & Africa",Central & Eastern Europe,Russia,486423.0,6.0,912570.0,4.0,1312681.0,4.0,178533.0,4.0
29,"Europe, Middle East & Africa",Central & Eastern Europe,Slovakia,NAN,NAN,21497.0,38.0,14129.0,42.0,NAN,NAN
30,"Europe, Middle East & Africa",Central & Eastern Europe,Slovenia,NAN,NAN,NAN,NAN,13389.0,43.0,NAN,NAN
31,"Europe, Middle East & Africa",Central & Eastern Europe,Ukraine,231499.0,12.0,148320.0,15.0,375588.0,7.0,NAN,NAN
32,"Europe, Middle East & Africa",Middle East,Israel,8561.0,38.0,39200.0,31.0,33294.0,29.0,NAN,NAN
33,"Europe, Middle East & Africa",Middle East,Kuwait,31566.0,30.0,4581.0,45.0,NAN,NAN,NAN,NAN
34,"Europe, Middle East & Africa",Middle East,Qatar,29473.0,33.0,51634.0,28.0,NAN,NAN,NAN,NAN
35,"Europe, Middle East & Africa",Middle East,Rest of Middle East,20511.0,35.0,48653.0,30.0,27914.0,33.0,NAN,NAN
36,"Europe, Middle East & Africa",Middle East,Saudi Arabia,83665.0,17.0,63529.0,23.0,29313.0,32.0,NAN,NAN
37,"Europe, Middle East & Africa",Middle East,Turkey,71652.0,21.0,108864.0,16.0,65532.0,22.0,NAN,NAN
38,"Europe, Middle East & Africa",Middle East,United Arab Emirates,165330.0,13.0,341651.0,7.0,400590.0,6.0,NAN,NAN
39,"Europe, Middle East & Africa",Western Europe,Austria,NAN,NAN,NAN,NAN,38805.0,27.0,NAN,NAN
40,"Europe, Middle East & Africa",Western Europe,Belgium,NAN,NAN,NAN,NAN,11719.0,46.0,NAN,NAN
41,"Europe, Middle East & Africa",Western Europe,Denmark,NAN,NAN,NAN,NAN,4911.0,54.0,NAN,NAN
42,"Europe, Middle East & Africa",Western Europe,Finland,NAN,NAN,NAN,NAN,5710.0,53.0,NAN,NAN
43,"Europe, Middle East & Africa",Western Europe,France,NAN,NAN,NAN,NAN,286307.0,9.0,NAN,NAN
44,"Europe, Middle East & Africa",Western Europe,Greece,132865.0,15.0,97525.0,20.0,18107.0,39.0,NAN,NAN
45,"Europe, Middle East & Africa",Western Europe,Italy,58644.0,25.0,91423.0,21.0,200128.0,10.0,NAN,NAN
46,"Europe, Middle East & Africa",Western Europe,Netherlands,NAN,NAN,NAN,NAN,12331.0,44.0,NAN,NAN
47,"Europe, Middle East & Africa",Western Europe,Portugal,NAN,NAN,NAN,NAN,33435.0,28.0,NAN,NAN
48,"Europe, Middle East & Africa",Western Europe,Spain,333701.0,8.0,459382.0,5.0,636840.0,5.0,272834.0,3.0
49,"Europe, Middle East & Africa",Western Europe,Switzerland,NAN,NAN,NAN,NAN,15226.0,41.0,NAN,NAN
50,"Europe, Middle East & Africa",Western Europe,UK,NAN,NAN,NAN,NAN,30235.0,31.0,NAN,NAN
51,Greater China,Greater China,Hong Kong,68169.0,22.0,52742.0,27.0,43581.0,25.0,NAN,NAN
52,Greater China,Greater China,People's Republic of China (mainland),13125368.0,1.0,12102767.0,1.0,9410881.0,2.0,2956220.0,1.0
53,Greater China,Greater China,Taiwan,80660.0,19.0,77714.0,22.0,68873.0,21.0,NAN,NAN
54,Latin America,Latin America,Chile,39985.0,28.0,15620.0,40.0,9620.0,49.0,NAN,NAN
55,Latin America,Latin America,Colombia,48776.0,27.0,61527.0,24.0,71359.0,19.0,NAN,NAN
56,Latin America,Latin America,Mexico,61653.0,24.0,50129.0,29.0,77490.0,18.0,NAN,NAN
57,Latin America,Latin America,Rest of Latin America,286513.0,10.0,300176.0,8.0,70233.0,20.0,NAN,NAN

In [35]:
#df2.Brand.unique()

In [45]:
# Using groupby() and count()
#df1 = df4.groupby(['Market','Quarter','Year'])['Units'].sum()

In [46]:
#df2 = df2.to_csv(r'C:\Users\Keshav Pathak\Desktop\market3.csv', index = False, header=True)

In [47]:
#df2 = df1.to_csv(r'C:\Users\Keshav Pathak\Desktop\market5.csv', index = False, header=True)

In [48]:
#df2 = df.merge(df3[['Market', 'Year']])

In [49]:
#gkk = df2.groupby(['Market', 'Units'])

In [50]:
#gkk.first()

In [51]:
#df4 = df2[df2.Year.isin([2017])]
#df5 = df4[df4.Quarter.isin([4])]

In [52]:
#final1 = df5.groupby('Market')['Units'].sum().reset_index(name= '2017 Q4')

In [53]:

#final1=final1.groupby('sell')['value'].sum()        .reset_index()   .rename(columns={'sum':'valuesum','sell' : 'selltime'})

In [54]:
#final1['Rank 2017 Q4'] = final1['2017 Q4'].rank(ascending=False)

In [24]:
#df['Score_Ranked_Desc'] = df['Score'].rank(ascending=False)

In [25]:
##df6 = df2[df2.Year.isin([2018])]
#df7 = df6[df6.Quarter.isin([1])]
#df8 = df6[df6.Quarter.isin([4])]

In [26]:
#final2 = df7.groupby('Market')['Units'].sum().reset_index(name= '2018 Q1')
#final2['Rank 2018 Q1'] = final2['2018 Q1'].rank(ascending=False)

In [27]:
#final2['Rank 2018 Q1'] = final2['2018 Q1'].rank()
#final2 = final2.set_index('Rank 2018 Q1')

In [28]:
#final3 = df8.groupby('Market')['Units'].sum().reset_index(name= '2018 Q4')
#final3['Rank 2018 Q4'] = final3['2018 Q4'].rank(ascending=False)

In [29]:
#final3['Rank 2018 Q4'] = final3['2018 Q4'].rank(ascending=False)

In [30]:
#final3

In [31]:
#df9 = df2[df2.Year.isin([2019])]
#df10 = df9[df9.Quarter.isin([1])]

In [32]:
#final4 = df10.groupby('Market')['Units'].sum().reset_index(name= '2019 Q1')
#final4['Rank 2019 Q1'] = final4['2019 Q1'].rank(ascending=False)

In [33]:
#final4['Rank 2019 Q1'] = final4['2019 Q1'].rank(ascending=False)

In [34]:
#final4 = final4.drop(final4.index[final4['Rank 2019 Q1'] > 5], inplace=True)
#final4 = final4[final4['Rank 2019 Q1'] < 6]

In [35]:
#final4

In [36]:
#mergedRes = pd.merge(dataFrame1, dataFrame2, on ='Car', how ="outer")

In [37]:
#sheet = pd.merge(final1, final2, final3, final4, on ='Market', how ="outer")

In [38]:
#dfs = [final1, final2, final3, final4]

In [51]:
#merge all DataFrames into one
#final_df = reduce(lambda  left,right: pd.merge(left,right,on=['Market'],

                                             #  how='outer'), dfs)
#final_df = final_df.fillna('NAN')
#dff1 = pd.DataFrame(data1)
#merged = pd.merge(data1, final_df, on ='Market', how ="inner")
#merged = merged.drop(['Currency', 'Exchange rate', 'VAT'], axis=1)  
#merged = merged.to_csv(r'C:\Users\Keshav Pathak\Desktop\finalXiaomi.csv', index = False, header=True#)

In [52]:

#final_df = final_df.fillna('NAN')

In [53]:
#sort using sub region

In [42]:
#final_df

In [43]:
#merged = pd.merge(data1, df2, on ='Market', how ="outer")

In [44]:
#dff1 = pd.DataFrame(data1)
#merged = pd.merge(data1, final_df, on ='Market', how ="inner")

In [45]:
#merged

In [46]:
#final4['Rank 2019 Q1'] = final4['2019 Q1'].rank(ascending=False)

In [47]:
# remove rows using the drop() function

# display the dataframe
#print(merged)

In [48]:
#merged = merged.drop(['Currency', 'Exchange rate', 'VAT'], axis=1)

In [49]:
#merged

In [50]:
#merged = merged.to_csv(r'C:\Users\Keshav Pathak\Desktop\finalXiaomi.csv', index = False, header=True)